
 	<!-- <section id="loader" class="two"><img src="loader.gif" id="loadergif"/></section> -->
	<section id="content" class="two no-box-shadow">
		<p>Hi, I am <strong>Nihav Jain</strong>, an <strong>SDK developer</strong> at <strong>Magic Leap</strong>, a US based startup developing a new Mixed Reality computing platform. My primary work there is to develop a C/C++ based SDK to enable other software developers to make games and apps for the Magic Leap platform. I also write integrations for popular game engines like Unreal and Unity to enable its developer base to publish on Magic Leap.</p>
		<p>I did my Masters in game development from <strong>Florida Interactive Entertainment Academy</strong> (University of Central Florida), Orlando and my under graduation in Information Systems from Birla Institute of Technology and Science, Pilani - Pilani Campus.</p>
		<p>Career interests include <strong>Game Engine development</strong> and Tools development.</p>
		<p>Favorite games - Portal 2 and Hitman Absolution.<br/>I am also a National level basketball player and a huge NBA fan.</p>
	</section>
	<section>
		Notable projects -
		<div class="row">
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <a href="#/projects/games/thechanneler" target="_blank"><img src="images/TheChannelerThumbnail.jpg" alt="..."></a>
		      <div class="caption">
		        <h3>The Channeler</h3>
		        <p>First person RPG using eye-tracking as core gameplay mechanic. Presented at the <a href="https://software.intel.com/en-us/articles/intel-university-games-showcase-2017>" target="_blank">Intel University Games Showcase 2017</a>.</p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <a href="#/projects/games/game-engine" target="_blank"><img src="images/GameEngine.jpg" alt="..."></a>
		      <div class="caption">
		        <h3>Game Engine</h3>
		        <p>A data driven game engine using XML as scripting language</p>
		        <p><a href="https://github.com/Nihav-Jain/GeometryWars" target="_blank" class="btn btn-primary icon icon-github" role="button">View Code</a></p>
		      </div>
		    </div>
		  </div>
		</div>
	</section>
	<section>
	<h3>Contact:</h3>
		<div class="row">
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <a href="assets/NihavJainResume.pdf" target="_blank"><img src="images/ResumeIcon.jpg" alt="..."></a>
		      <div class="caption">
		        <h3><a href="assets/NihavJainResume.pdf" target="_blank">Resume</a></h3>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-4">
		  	<a href="mailto:nihav.jain13@gmail.com" target="_top" class="icon icon-mail">nihav.jain13@gmail.com</a><br/>
		  	<a href="https://www.linkedin.com/in/nihavjain" target="_blank" class="icon icon-linkedin">LinkedIn Profile</a>
		  </div>
		</div>
	</section>
