<article>
	<h2>FIEA (UCF)</h2>
	<span><strong>MS in Interactive Entertainment (Programming Track)</strong> : Aug 2015 - Dec 2016 (Expected)</span>
	<p>
		The Florida Interactive Entertainment Academy (FIEA) is a graduate school at the University of Central Florida located in Orlando, Florida, USA.<br/>
		FIEA is a graduate video game development school offering an accredited master&#39;s degree in interactive entertainment. Areas of study include game design, art, programming and production.<br/>
		FIEA has been ranked 2nd among the <a href="http://www.princetonreview.com/college-rankings/game-design/top-graduate-schools-for-video-game-design" target="_blank">top gradate schools for video game design by The Princeton Review</a>.<br/><br/>
	</p>
</article>

<article>
	<h2>BITS Pilani</h2>
	<span><strong>Msc.(Tech.) Information Systems</strong> : 2011 - 2015</span>
	<p>Birla Institute of Technology and Science, Pilani, a deemed university established in 1964, &nbsp;is India&#39;s topmost private engineering institute for undergraduate education.</p>
	<p>Msc.(Tech.) Information Systems is a 4-year undergraduate course offered by the institute in equivalence to the B.E.(Hons.) Computer Science degree. The programme equips students with comprehensive skills on computer software and software engineering techniques, both at the conceptual and application levels.&nbsp;</p>
	<p>Here is a list of courses completed by me during my undergraduate study at BITS Pilani -<br/>
		<table class="icon icon-code">
			<tbody>
				<tr><td>Computer Programming</td><td>Logic in Computer Science</td></tr>
				<tr><td>Discrete Structures in Computer Science</td><td>Object Oriented Programming &amp; Design</td></tr>
				<tr><td>Data Structures &amp; Algorithms</td><td>Design &amp; Analysis of Algorithms</td></tr>
				<tr><td>Digital Electronics &amp; Microprocessors</td><td>Computer Organization</td></tr>
				<tr><td>Operating Systems</td><td>Principles of Programming Language</td></tr>
				<tr><td>Compiler Design</td><td>Computer Networks</td></tr>
				<tr><td>Software Engineering</td><td>Software Testing</td></tr>
				<tr><td>Database Systems &amp; Applications</td><td>Computer Graphics</td></tr>
				<tr><td>Multimedia Computing</td><td>Number Theory</td></tr>
			</tbody>
		</table>
		<table class="icon icon-camera">
			<tbody>
				<tr><td>Short Film &amp; Video Production</td><td>Print &amp; Audio Visual Advertising</td></tr>
				<tr><td>Mass Media &amp; Content Design</td></tr>
			</tbody>
		</table>
	</p>
</article>
<article>
	<h2>Seth M.R. Jaipuria</h2>
	<p>Seth M.R. Jaipuria School, Lucknow is an English medium school for Primary, Secondary and Higher Secondary education. It prepares students for the&nbsp;Indian Certificate of Secondary Education&nbsp;(ICSE and the&nbsp;Indian School Certificate&nbsp;(ISC) Examinations. The School ranked 9th among the top schools of the country according to <a href="http://www.jaipuriaschools.ac.in/about-us/our-schools/" target="_blank">IMRB International Survey</a>.</p>
	<p>My Academic Results -</p>
	<table style="height: 109px; width: 500px; margin-left: auto; margin-right: auto;" border="1" width="164">
		<tbody>
			<tr><th>Class</th><th>Specialization</th><th>Board</th><th>% marks</th><th>Year</th></tr>
			<tr><td>XII</td><td>Science</td><td>ISC</td><td>93%</td><td>2011</td></tr><tr><td>X</td><td>General</td><td>ICSE</td><td>95.8%</td><td>2009</td></tr>
		</tbody>
	</table>
</article>