<section id="top" class="one">
	<div class="container">
			Nihav Jain <span>| FIEA (UCF) |</span>
			<a href="https://plus.google.com/+NihavJain" target="_blank" class="icon icon-googleplus"></a><a href="http://in.linkedin.com/in/nihavjain" target="_blank" class="icon icon-linkedin"></a><a href="https://www.youtube.com/channel/UCcyjDhimmxXyJ5lUQrPeO5g/videos" target="_blank" class="icon icon-youtube"></a><a href="https://github.com/Nihav-Jain" target="_blank" class="icon icon-github"></a>
	</div>
</section>
