<div>
	<div id="header" class="skel-panels-fixed absPos offScreenMenu" ng-repeat="menu in menus" ng-class="{open: getMenuStatus($index)}">
		<div class="top">
			<div id="logo">
				<span class="image"><img src="{{menu.logo}}"></span>
				<h1 id="title">{{menu.title}}</h1>
				<span ng-if="menu.byline" class="byline">{{menu.byline}}</span>
			</div>

			<nav id="nav">
				<ul>
					<li ng-if="menu.back">
						<a href="{{menu.back}}" id="back" class="skel-panels" ng-click="backClicked()">
							<span>Back</span>
						</a>
					</li>
					<li ng-repeat="tile in menu.tiles">
						<a href="{{tile.link}}" ng-click="menuTileClicked($index)" class="skel-panels">
							<span class="{{tile.icon}}">{{tile.title}}</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
