<h2>C++ Cross Platform Game - Angry Birds</h2>
<article>
	<div class="embed-responsive embed-responsive-16by9">
  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Sffgre2hctg?list=PLALw7Kg8zaebXZjKvKB-_rtIX6mexPRHH" allowfullscreen></iframe>
	</div>
	<div>
		<div class="skill-border small-font"><span>C++</span></div>
		<div class="skill-border small-font"><span>OpenGL</span></div>
		<div class="skill-border small-font"><span>DirectX</span></div>
		<div class="skill-border small-font"><span>PC</span></div>
		<div class="skill-border small-font"><span>XBOX</span></div>
		<div class="skill-border small-font"><span>Box2D</span></div>
		<div class="skill-border small-font"><span>FMOD</span></div>
		<div class="skill-border small-font"><span>TinyXML</span></div>
	</div>
	<h3>Team: Brian Bennett (programmer), Nihav Jain (programmer)</h3>
	<h4>(December 1, 2015 - December 15, 2015)</h4>
	<p>
		A cross-platform version of Angry Birds using C++ / OpenGL for PC, ported to C++ / DirectX for the original XBOX.<br/>
Developed as part of the programming track curriculum, FIEA (Fall 2015)
	</p>

	<div class="embed-responsive embed-responsive-4by3">
  		<iframe class="embed-responsive-item" src="//www.slideshare.net/slideshow/embed_code/key/k9HoUHFGT5bmmU" allowfullscreen></iframe>
	</div>

	<div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/NihavJain/angry-birds-bb-nj" title="Porting from PC to XBOX - Technical Challenges" target="_blank">Porting from PC to XBOX - Technical Challenges</a></strong> </div>
</article>