<h2>Dystopian Drill Divers</h2>
<article>
	<div class="embed-responsive embed-responsive-16by9">
  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JPuNUFEs0V4?list=PLALw7Kg8zaebXZjKvKB-_rtIX6mexPRHH" allowfullscreen></iframe>
	</div>
	<div>
		<div class="skill-border small-font"><span>Unity</span></div>
		<div class="skill-border small-font"><span>C#</span></div>
		<div class="skill-border small-font"><span>Android</span></div>
	</div>
	<h3>Team of 5 (2 Producers, 2 Programmers, 1 Artist)</h3>
	<h4>(November 3, 2015 - November 17, 2015)</h4>
	<p>
		A 2 week rapid prototype of an Android game developed in Unity Engine, FIEA (Fall 2015)<br/><br/>

		Guide your robot around obstacles as it drills down to the earth's core, in a hope to extract its heat as the last remaining source of fuel for mankind. The farther down you drill, the harder the earth's crust. The faster you drill, the more quickly your robot's fuel burns up. Maintain a steady balance between drilling speed and fuel consumption rate.<br/><br/>

		Obstacles inlclude rocks and diamond mines.<br/>

		On your way down don't forget to collect fuel for your robot, and diamonds for buying upgrades from the store.<br/><br/>

		Special power upgradeds include a "phaser laser", which will destroy everything in it's path, and a "radioactive core heater" which burns out the debris around to make way for the robot.
	</p>
</article>