<h2>Interactive Game Project in 68k Assembly</h2>
<article>
	<div class="embed-responsive embed-responsive-16by9">
  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Zoqdq77wAXM?list=PLALw7Kg8zaebXZjKvKB-_rtIX6mexPRHH" allowfullscreen></iframe>
	</div>
	<span class="icon icon-github" style="font-size: large;"> </span><a href="https://github.com/Nihav-Jain/Interactive-Game-in-68k-Assembly" target="_blank">Check out the code for the game</a><br/>
	<p>
		An interactive game developed in Motorola M68000 Assembly Language as part of a 2 week project at FIEA. <br/>
		Challenges - 
		<ul>
			<li>The game required the physics and graphics engine to be coded in assembly from scratch</li>
			<li>Since emulators are slower than the actual hardware, the game had to optimized enough to run smoothly on a M68000 emulator like Easy68k</li>
			<li>Coded a dynamic physics environment from scratch in 68k</li>
			<li>Coded a 7-segment LED display system to present the score</li>
		</ul>
	</p>
</article>