<h2>Kite Fite</h2>
<article>
	<div class="embed-responsive embed-responsive-16by9">
  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mmLhecs_Gdo?list=PLALw7Kg8zaebXZjKvKB-_rtIX6mexPRHH" allowfullscreen></iframe>
	</div>
	<div>
		<div class="skill-border small-font"><span>Adobe Flash</span></div>
		<div class="skill-border small-font"><span>ActionScript 3.0</span></div>
		<div class="skill-border small-font"><span>Box2D</span></div>
		<div class="skill-border small-font"><span>PC</span></div>
		<div class="skill-border small-font"><span>Web</span></div>
		<div class="skill-border small-font"><span>Tools</span></div>		
	</div>
	<h3>Team of 5 (1 producer, 2 programmers, 2 artists)</h3s>
	<h4>(Sept. 1, 2015 - Sept. 15, 2015)</h4>
	<span class="fa fa-gamepad" style="font-size: large;"> </span><a href="demo/kitefite/" target="_blank">Play the demo here</a><br/>
	<span class="icon icon-wrench" style="font-size: large;"> </span><a href="demo/kitefite/weapon-creation-tool.html" target="_blank">Use the Weapon Creation Tool</a><br/>
<span class="icon icon-github" style="font-size: large;"> </span><a href="https://github.com/Nihav-Jain/KiteFight" target="_blank">Check out the code for KiteFite (including the weapon creation tool)</a><br/>
	<p>Kite Fite is a 2 player kite fighting game developed in Adobe Flash ActionScript 3.0 as part of a 2 week Rapid Prototyping project at FIEA. The objective of the game is to knock out the opponents kite using a weapon attached to the tail of your kite. Players control using WASD and arrow keys respectively.</p><p>The programmers also designed a <strong>weapon creation tool</strong> for the producer to experiment with the different attributes of the weapons like speed, damage amount and flexibility (length and number of links of the rope through which it is attached to the kite).</p>
	<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/SOr6XvMSeQw" frameborder="0" allowfullscreen></iframe> -->
	<a href="https://www.youtube.com/watch?v=SOr6XvMSeQw&list=PLALw7Kg8zaebXZjKvKB-_rtIX6mexPRHH&index=4" target="_blank"> <img src="images/weapon-creation-tool.png"></a>
	<p>Note that the polygon must be convex and the vertices must be drawn in clockwise order. The tool was meant for producer use only and thus complex validations for determining whether the polygon is convex or the vertices are in clockwise order have not been implemented.</p>
</article>