<h2>Lacuna 2012</h2>
<article>
	<div>
		<div class="skill-border small-font"><span>Adobe Flash</span></div>
		<div class="skill-border small-font"><span>ActionScript 3.0</span></div>
		<div class="skill-border small-font"><span>Box2D</span></div>
		<div class="skill-border small-font"><span>Web</span></div>
	</div>
	<h4>Team: Solo project</h4>
	<h6>(February 2013)</h6>
	<span class="fa fa-gamepad" style="font-size: large;"> </span><a href="demo/lacuna2013" target="_blank">Play the demo here</a><br/><span class="icon icon-github" style="font-size: large;"> </span><a href="https://github.com/Nihav-Jain/Lacuna-2013/" target="_blank">Check out the code for Lacuna 2013 here</a><br/>
	<h4>Level 1</h4>
	<div class="embed-responsive embed-responsive-16by9">
  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ar0CFe2K-yg" allowfullscreen></iframe>
	</div>
	<h4>Level 2</h4>
	<div class="embed-responsive embed-responsive-16by9">
  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kiR4qoVee0U" allowfullscreen></iframe>
	</div>
</article>