<h2>Pacman : The Elements of Oasis</h2>
<article>
	<div class="embed-responsive embed-responsive-16by9">
  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gJHlyL_yrUI" allowfullscreen></iframe>
	</div>
	<div>
		<div class="skill-border small-font"><span>Adobe Flash</span></div>
		<div class="skill-border small-font"><span>ActionScript 3.0</span></div>
		<div class="skill-border small-font"><span>Web</span></div>
		<div class="skill-border small-font"><span>Facebook Integration</span></div>
	</div>
	<h3>Team: Solo Project</h3>
	<h4>(October 2013)</h4>
	<span class="fa fa-gamepad" style="font-size: large;"> </span><a href="demo/pacman/index.html" target="_blank">Play the demo here</a><br/>

	<p>Inspired by the legendary Pacman from the DOS age, this game took the theme of "The Elements" and incorporated them as special collectable powers -</p>
	<p><span style="text-decoration: underline;">Earth</span> - Build a horizontal or vertical wall on a single tile to block the path of the monsters<br /> <span style="text-decoration: underline;">Air</span> - Click on a tile to teleport to that spot<br /> <span style="text-decoration: underline;">Fire</span> - The mosters will burn on touching you... Enjoy the invincibility for 10 seconds<br /> <span style="text-decoration: underline;">Water</span> - The floor turns to ice and allows you to slide on it for a quick getaway... Be careful though, the ice melts in 10 seconds<br /> <span style="text-decoration: underline;">Ether</span> - You become a "heavenly body" as monsters cannot harm you for 10 seconds</p>
	<p>The game has unlimited lives. The aim is to score as many points as possible and reach the highest level possible. Every time you are caught by the mosters, 50 points are deducted. Once you cross a level, the number of seconds you took to&nbsp;complete the level is subtracted from you total.</p>
</article>