<h2>Pipeland Waterworks</h2>
<article>
<img border="0" height="201" width="320" src="https://2.bp.blogspot.com/-UbSnyFVkypE/VyF1T8hxFJI/AAAAAAAAAek/y9iFbjd11OwLTIjeW5Mdmdr_aQdLztlnwCLcB/s320/pipeland3.png" />
	<div>
		<div class="skill-border small-font"><span>Unity</span></div>
		<div class="skill-border small-font"><span>C#</span></div>
		<div class="skill-border small-font"><span>Android</span></div>
	</div>
	<h3>Team of 5 (2 Producers, 2 Programmers, 1 Artist)</h3>
	<h4>(Feb 2016 - Apr 2016)</h4>
	<p>
		Pipeland Waterworks is an educational mobile game that teaches its players some of the basic principles surrounding circuits by utilizing the water analogy. The principles that are explored in Pipeland Waterworks ohm's law and Kirchhoff's circuit law.<br>
		Pipeland is an ever developing city that has contracted you to work on their water system. It is up to you to design and build the system utilizing various pipes, resistors and pumps in order to keep the system in balance. There are a number of different ways in which each level can be solved, so try and do it better (and cheaper) than anyone else.<br>
		The entire game was built using the Unity engine and coded with C#<br>
		For the game, apart from setting up common gameplay systems like input and camera movement, my major work was developing algorithms to <strong>validate the completeness and correctness</strong> of the created circuit network.

	</p>

</article>