<h2>Everything is Relative</h2>
<article>
	<div>
		<div class="skill-border small-font"><span>Unity</span></div>
		<div class="skill-border small-font"><span>C#</span></div>
		<div class="skill-border small-font"><span>PC</span></div>
	</div>
	<h3>Team of 5 (2 Producers, 2 Programmers, 1 Artist)</h3>
	<h4>(Oct. 13, 2015 - Oct. 27, 2015)</h4>
	<p>
		A 2-week rapid prototype of a split-screen competitive 1v1 game developed for PC where the goal is to manipulate physics in order to secure the most matter in your goal post as possible before time runs out. Mechanics like explosions, gravity, and manipulation of temperature can throw a wrench in your plan, so by definition the game will result in emergent strategies.
	</p>
</article>