<h2>Space Between</h2>
<article>
	<div class="embed-responsive embed-responsive-16by9">
  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/z70knq92bFc?list=PLALw7Kg8zaebXZjKvKB-_rtIX6mexPRHH" allowfullscreen></iframe>
	</div>
	<div>
		<div class="skill-border small-font"><span>Unity</span></div>
		<div class="skill-border small-font"><span>C#</span></div>
		<div class="skill-border small-font"><span>PC</span></div>
		<div class="skill-border small-font"><span>Storytelling</span></div>
	</div>
	<h3>Team of 5 (2 Producers, 2 Programmers, 1 Artist)</h3>
	<h4>(Sept. 22, 2015 - Oct. 6, 2015)</h4>
	<p>
		A 2-week rapid prototype in Unity on the theme of <i>storytelling</i>.<br/>
		<ul>
			<li>Developed an API in C# (for Unity) to control the flow of branched dialogue trees and scripted cinematic events. The tree follows the pattern of a behavior-tree, with nodes like sequence, selector, condition etc to determine the flow through the scene.</li>
			<li>Developed a visual front-end tool, in HTML5 SVG and JavaScript, to help create the dialogue trees in the format required by the API. Check it out <a href="http://nihavjain.info/demo/behavior-tree-builder/" target="_blank">here</a></li>
		</ul>
	</p>

</article>
