<h2>The Channeler - VR Prototype</h2>
<article>
	<a href="https://youtu.be/qXuOzxKkcf4?t=12538" target="_blank" class="icon icon-youtube">Click here to view the capstone pitch</a><br/>
	<a href="https://youtu.be/qXuOzxKkcf4?t=13240" target="_blank" class="icon icon-youtube">Click here to view the capstone pitch demo</a>
	<div>
		<div class="skill-border small-font"><span>Unity3D</span></div>
		<div class="skill-border small-font"><span>C#</span></div>
		<div class="skill-border small-font"><span>Oculus</span></div>
		<div class="skill-border small-font"><span>PC</span></div>
	</div>
	<h3>Team of 4 (1 producer, 2 programmers, 1 artists)</h3>
	<h4>(Dec. 1, 2015 - Dec. 15, 2015)</h4>
	<p>A 2-week prototype of The Channeler on the Oculus Rift, used to pitch the game for FIEA cohort 12's capstone project. After getting green-lit by the faculty, the game went on to being developed using the Tobii Eye Tracker since the core mechanic of the game involved tracking where and what the user is looking at and the current VR headsets provide only head-tracking and not eye tracking. Follow the progress of The Channeler <a href="#/projects/games/thechanneler">here</a></p>	
</article>