<h2>The Channeler</h2>
<article>
	<!-- <img src="images/ChannelerCoverPic.jpg"/> -->
	<div class="embed-responsive embed-responsive-16by9">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/voS09i71Tmc" frameborder="0" allowfullscreen></iframe>
	</div>
	<div>
		<div class="skill-border small-font"><span>Unreal Engine 4</span></div>
		<div class="skill-border small-font"><span>C++</span></div>
		<div class="skill-border small-font"><span>PC</span></div>
		<div class="skill-border small-font"><span>Tobii EyeX</span></div>
	</div>
	<h3>Team of 13 (4 producers, 5 programmers, 4 artists)</h3>
	<h4>(December 15, 2015 - Present)</h4>
	<i>The game was presented at the <a href="https://software.intel.com/en-us/articles/intel-university-games-showcase-2017>" target="_blank">Intel University Games Showcase 2017</a></i>
	<p>
		The Channeler is a capstone project at <a href="http://fiea.ucf.edu" target="_blank">FIEA</a> undertaken by 13 graduate students. <br/>
		Utilizing eye-tracking technology, the development team hopes to innovate with new and exciting mechanics that take advantage of human reaction speed and eye reflexes. We are currently using the <a href="http://www.tobii.com/xperience/" target="_blank">Tobii EyeX</a> to track the players eye gaze. My contribution to the project so far -
	</p>
	<ul>
		<li>Extended the Tobii EyeX Unreal C++ plugin (for eye tracking) to detect blinking,  status of individual eyes, head tracking and modified the plugin interface to be more friendly for gameplay programmers to use</li>
		<li>Developed data visualizers in C# for all the collected gameplay analytics like heat maps and other puzzle specific analytic questions</li>
		<li>Wrote a "storytelling" API in C++ for Unreal Engine to control the flow of scripted events and branched dialogue trees</li>
		<li>Also created a visual front-end tool for the same, using HTML5 SVG, wherein the producers could draw the scene with branching conditions and references to dialogue audios. Check it out <a href="http://nihavjain.info/thechanneler/storytelling/" target="_blank">here</a>.
		<li>As the Lead Programmer of the project, worked with the other team leads on planning sprints, game design decisions and managing tasks for the other programmers</li>
		<li>Also conducted weekly code reviews with the programmers and technical designers</li>
	</ul>
</article>
