<h2>Oasis 2012</h2>
<article>
	<div class="embed-responsive embed-responsive-16by9">
  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ti-EWQ5O4qo" allowfullscreen></iframe>
	</div>
	<div>
		<div class="skill-border small-font"><span>Adobe Flash</span></div>
		<div class="skill-border small-font"><span>ActionScript 3.0</span></div>
		<div class="skill-border small-font"><span>Django</span></div>
	</div>
	<h3>Project type: Group; My Role: Front-end Developer</h3>
<h4>(July 2012 - August 2012)</h4>
<a href="demo/oasis2012" target="_blank">Click here to goto the demo version of the site</a>
</article>