<h2>Oasis 2012 - Intro</h2>
<article>
	<div class="embed-responsive embed-responsive-16by9">
  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Qv-4oWxV1Q4" allowfullscreen></iframe>
	</div>
	<div>
		<div class="skill-border small-font"><span>Adobe Flash</span></div>
		<div class="skill-border small-font"><span>ActionScript 3.0</span></div>
	</div>
	<h3>Project type: Group; My Role: Front-end Developer</h3>
<h4>(April 2012)</h4>
<a href="demo/oasis2012intro" target="_blank">Click here to goto the demo version of the site</a>
</article>