<h2>Games</h2>
<article>
	<img src="images/ChannelerCoverPic.jpg"/>
	<h3>The Channeler</h3>
	<h4>Unreal Engine 4, using the <a href="http://www.tobii.com/xperience/" target="_blank">Tobii EyeX</a> hardware for eye tracking</h4>
	<h4>Team of 13 (4 producers, 5 programmers, 4 artists)</h4>
	<h6>(December 15, 2015 - Present)</h6>
	<p>
		Utilizing eye-tracking technology, the development team hopes to innovate with new and exciting mechanics that take advantage of human reaction speed and eye reflexes. We are currently using the Tobii EyeX to track the players eye gaze. <br/>

		The Channeler takes place in a world populated by ghosts and ghouls unseen by the regular eye; but you are a Channeler, blessed with the Third Eye and able to commune with these spirits. <br/>

		Mega spirits which haven't appeared in centuries have begun to pop up around the world; it is up to you to send them back to the spirit world.
	</p>
</article>

<article>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/Sffgre2hctg?list=PLALw7Kg8zaebXZjKvKB-_rtIX6mexPRHH" frameborder="0" allowfullscreen></iframe>
	<h3>C++ Cross Platform Game - Angry Birds</h3>
	<h4>C++, OpenGL, DirectX, Xbox XDK, Box2D, FMOD, TinyXML</h4>
	<h4>Team: Brian Bennett (programmer), Nihav Jain (programmer)</h4>
	<h6>(December 1, 2015 - December 15, 2015)</h6>
	<p>
		A cross-platform version of Angry Birds using C++ / OpenGL for PC, ported to C++ / DirectX for the original XBOX.<br/>
Developed as part of the programming track curriculum, FIEA (Fall 2015)
	</p>

	<iframe src="//www.slideshare.net/slideshow/embed_code/key/k9HoUHFGT5bmmU" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/NihavJain/angry-birds-bb-nj" title="Porting from PC to XBOX - Technical Challenges" target="_blank">Porting from PC to XBOX - Technical Challenges</a></strong> </div>
</article>

<article>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/JPuNUFEs0V4?list=PLALw7Kg8zaebXZjKvKB-_rtIX6mexPRHH" frameborder="0" allowfullscreen></iframe>
	<h3>Dystopian Drill Divers</h3>
	<h4>Unity 2D, C#, Android</h4>
	<h4>Team of 5 (2 Producers, 2 Programmers, 1 Artist)</h4>
	<h6>(November 3, 2015 - November 17, 2015)</h6>
	<p>
		A 2 week rapid prototype of an Android game developed in Unity Engine, FIEA (Fall 2015)<br/><br/>

		Guide your robot around obstacles as it drills down to the earth's core, in a hope to extract its heat as the last remaining source of fuel for mankind. The farther down you drill, the harder the earth's crust. The faster you drill, the more quickly your robot's fuel burns up. Maintain a steady balance between drilling speed and fuel consumption rate.<br/><br/>

		Obstacles inlclude rocks and diamond mines.<br/>

		On your way down don't forget to collect fuel for your robot, and diamonds for buying upgrades from the store.<br/><br/>

		Special power upgradeds include a "phaser laser", which will destroy everything in it's path, and a "radioactive core heater" which burns out the debris around to make way for the robot.
	</p>
</article>

<article>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mmLhecs_Gdo?list=PLALw7Kg8zaebXZjKvKB-_rtIX6mexPRHH" frameborder="0" allowfullscreen></iframe>
	<h3>Kite Fite</h3>
	<h4>Adobe Flash, ActionScript 3.0</h4>
	<h4>Team of 5 (1 producer, 2 programmers, 2 artists)</h4>
	<h6>(Sept. 1, 2015 - Sept. 15, 2015)</h6>
	<span class="fa fa-gamepad" style="font-size: large;"> </span><a href="demo/kitefite/" target="_blank">Play the demo here</a><br/>
	<span class="icon icon-wrench" style="font-size: large;"> </span><a href="demo/kitefite/weapon-creation-tool.html" target="_blank">Use the Weapon Creation Tool</a><br/>
<span class="icon icon-github" style="font-size: large;"> </span><a href="https://github.com/Nihav-Jain/KiteFight" target="_blank">Check out the code for KiteFite (including the weapon creation tool)</a><br/>
	<p>Kite Fite is a 2 player kite fighting game developed in Adobe Flash ActionScript 3.0 as part of a 2 week Rapid Prototyping project at FIEA. The objective of the game is to knock out the opponents kite using a weapon attached to the tail of your kite. Players control using WASD and arrow keys respectively.</p><p>The programmers also designed a <strong>weapon creation tool</strong> for the producer to experiment with the different attributes of the weapons like speed, damage amount and flexibility (length and number of links of the rope through which it is attached to the kite).</p>
	<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/SOr6XvMSeQw" frameborder="0" allowfullscreen></iframe> -->
	<a href="https://www.youtube.com/watch?v=SOr6XvMSeQw&list=PLALw7Kg8zaebXZjKvKB-_rtIX6mexPRHH&index=4" target="_blank"> <img src="images/weapon-creation-tool.png"></a>
	<p>Note that the polygon must be convex and the vertices must be drawn in clockwise order. The tool was meant for producer use only and thus complex validations for determining whether the polygon is convex or the vertices are in clockwise order have not been implemented.</p>
</article>

<article>
	<h3>Games in Unity3D</h3>
	<p>So far I have developed 4 2-week rapid prototypes on Unity as part of the FIEA curriculum and am currently working on a publishable serious game in this semester.</p>
	<ul>
		<li>Space Between | 3D, PC, Storytelling | <a href="https://www.youtube.com/watch?v=z70knq92bFc&list=PLALw7Kg8zaebXZjKvKB-_rtIX6mexPRHH&index=1" target="_blank" class="icon icon-youtube"></a> | <a href="https://github.com/Nihav-Jain/Space-Between" target="_blank" class="icon icon-github"></a> </li>
		<li>Dystopian Drill Divers | 2D, Mobile, Casual | <a href="https://github.com/Nihav-Jain/Dystopian-Drill-Divers" target="_blank" class="icon icon-github"></a></li>
		<li>Everything is Relative | 3D, PC, Emergence</li>
		<li>The Channeler (prototype for capstone pitch) | 3D, Oculus | <a href="https://www.youtube.com/watch?v=qXuOzxKkcf4&t=208m45s" target="_blank" class="icon icon-youtube"></a></li>
	</ul>
</article>

<article>
	Playlist of all my game demos - <br/>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLALw7Kg8zaebXZjKvKB-_rtIX6mexPRHH" frameborder="0" allowfullscreen></iframe>
</article>
<br/>
<h3>Games developed as a side activity during under-grad</h3>
<article>
	<h3>Pacman : The Elements</h3>
	<h4>Adobe Flash, ActionScript 3.0</h4>
<h4>Project type: Individual</h4>
	<h6>(October 2013)</h6>
	<span class="fa fa-gamepad" style="font-size: large;"> </span><a href="demo/pacman/index.html" target="_blank">Play the demo here</a><br/>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/gJHlyL_yrUI" frameborder="0" allowfullscreen></iframe>
	<p>Inspired by the legendary Pacman from the DOS age, this game took the theme of "The Elements" and incorporated them as special collectable powers -</p>
	<p><span style="text-decoration: underline;">Earth</span> - Build a horizontal or vertical wall on a single tile to block the path of the monsters<br /> <span style="text-decoration: underline;">Air</span> - Click on a tile to teleport to that spot<br /> <span style="text-decoration: underline;">Fire</span> - The mosters will burn on touching you... Enjoy the invincibility for 10 seconds<br /> <span style="text-decoration: underline;">Water</span> - The floor turns to ice and allows you to slide on it for a quick getaway... Be careful though, the ice melts in 10 seconds<br /> <span style="text-decoration: underline;">Ether</span> - You become a "heavenly body" as monsters cannot harm you for 10 seconds</p>
	<p>The game has unlimited lives. The aim is to score as many points as possible and reach the highest level possible. Every time you are caught by the mosters, 50 points are deducted. Once you cross a level, the number of seconds you took to&nbsp;complete the level is subtracted from you total.</p>
</article>
<article>
	<h3>Lacuna 2012</h3>
	<h4>Adobe Flash, ActionScript 3.0</h4><h4>Project type: Individual</h4>
	<h6>(February 2012)</h6>
	<span class="fa fa-gamepad" style="font-size: large;"> </span><a href="demo/lacuna2012" target="_blank">Play the demo here</a><br/>
<span class="icon icon-github" style="font-size: large;"> </span><a href="https://github.com/Nihav-Jain/Lacuna-2012" target="_blank">Check out the Game and Physics engine I coded for Lacuna</a><br/>
	<p>Level 1<br/><iframe width="560" height="315" src="https://www.youtube.com/embed/Kub26brNCd4" frameborder="0" allowfullscreen></iframe></p>
	<p>Level 2<br/><iframe width="560" height="315" src="https://www.youtube.com/embed/iYl4Mc1kztk" frameborder="0" allowfullscreen></iframe></p>
</article>
<article>
	<h3>Lacuna 2013</h3>
	<h4>Developed using: Adobe Flash, ActionScript 3.0, Box2D Physics Engine</h4><h4>Project type: Individual</h4>
	<h6>(February 2013)</h6>
	<span class="fa fa-gamepad" style="font-size: large;"> </span><a href="demo/lacuna2013" target="_blank">Play the demo here</a><br/><span class="icon icon-github" style="font-size: large;"> </span><a href="https://github.com/Nihav-Jain/Lacuna-2013/" target="_blank">Check out the code for Lacuna 2013 here</a><br/>
	<p>Level 1<br/><iframe width="560" height="315" src="https://www.youtube.com/embed/Ar0CFe2K-yg" frameborder="0" allowfullscreen></iframe></p>
	<p>Level 2<br/><iframe width="560" height="315" src="https://www.youtube.com/embed/kiR4qoVee0U" frameborder="0" allowfullscreen></iframe></p>
</article>