<article>
	<h3>Trainee Software Engineer</h3>
	<h4><a href="http://www.globallogic.com/" target="_blank">GlobalLogic, NOIDA</a></h4>
	<h6>(July 2014 - Dec 2014)</h6>
	<p>GlobalLogic is a full-lifecycle software product development services leader working in technologies like Big Data Analytics, Cloud, Embedded, Mobile and Security.</p>
	<p>Projects&nbsp;-
		<ul class="default">
			<li>Cross-platform mobile app development using PhoneGap (Cordova) and AngularJS</li>
			<li>PhoneGap plugin development for Android and iOS</li>
			<li>Research on various mobile security threats and developing modules for best possible protection against them</li>
			<li>Research on real-time object detection and recognition algorithms for augmented reality based applications on Android by using OpenCV.</li>
		</ul>
	</p>
</article>