<h2>Personal Projects</h2>

<img src="images/personalprojects.jpg"><br/>
<p>I think this comic "script" pretty much sums it up! I don't care about the time "wasted" in building a software. All I care about is that while developing it, I am transported to another world. I do it because I enjoy it. Every such project took me deeper into the secrets of programming languages and software development.</p>
<p>So, just have a look at some of my presentable personal projects.</p>

<section>
	<h2>Screen Recorder</h2>
	<p><a href="https://github.com/Nihav-Jain/NJ-ScreenRecorder" target="_blank"><span class="icon icon-github"/>View the source code here</a><br/><a href="https://github.com/Nihav-Jain/NJ-ScreenRecorder/releases" target="_blank"><span class="icon icon-github"/>Get the executable here</a></p><p>For this portfolio, I wanted to upload screen recorded videos of all the games, websites and softwares I have developed till now. I tried a couple of free softwares like <a href="http://camstudio.org/" target="_blank">CamStudio</a>,&nbsp;<a href="http://www.sketchman-studio.com/rylstim-screen-recorder/" target="_blank">Screen Recorder</a>, etc. But none of them could capture my work with the required frame rate. The resulatant videos were pixeleted and jaggy.&nbsp;</p>
	<p>So I coded my own screen recorder in Java. Because I had little time to complete my portfolio, I just made a simple application which saved screenshots at 30 frames per second in the specified folder. Once you have the image sequence, you can easily import in Windows Movie Maker, or any other similar video editor, and export it as a proper video.</p>
	<p>The performance of my Java based screen recorder turned out to be much much better than the existing softwares I tried. I plan to take out more time and develop this into a full-fledged software which outputs the video directly instead of simply saving the screenshots.</p>
</section>

<section>
	<h2>Portfolio Website</h2>

	<article>
		<h3>Current Portfolio</h3>
		<h4>Developed using: HTML5, CSS3, AngularJS</h4>
		<h6>(July 2015)</h6>
		<span class="icon icon-github" style="font-size: large;"> </span><a href="https://github.com/Nihav-Jain/Portfolio" target="_blank">Git repository for the website</a><br/>
		<p>My current portfolio website developed using HTML5, CSS3 and AngularJS.<br/><br/></p>
	</article>

	<article>
		<h3>Old Portfolio</h3>
		<h4>Developed using: HTML5, CSS3, JavaScript, jQuery and PHP</h4>
		<h6>(November 2015)</h6>
		<span class="icon icon-github" style="font-size: large;"> </span><a href="https://github.com/Nihav-Jain/Portfolio-old" target="_blank">Git repository for the website</a><br/>
		<p>My old portfolio website (put together in November 2014), developed using HTML5, CSS3, JavaScript, jQuery and PHP, hosted on <a href="http://nihavjain.info/old"></a>http://nihavjain.info/old</a>.
	<br/>
	I used routing via the .htaccess file for dynamic URLs, and used Javascript's window.history functions to manage the routing using AJAX requests only.<br/><br/></p>
	</article>
</section>

<section>
	<h2>PS Preference Filler</h2>

	<article>
		<h3>Java based Preference Filler</h3>
		<h4>Developed using: Java</h4>
		<h6>(April 2013)</h6>
		<span class="icon icon-github" style="font-size: large;"> </span><a href="https://github.com/Nihav-Jain/PS-Preference-Filler---Java" target="_blank">Git repository for the application</a><br/>
		<p>A Java based application meant to assist students in creating their preference order for the list of Practice School stations at BITS Pilani.</p>
	<p>
	The original web bsaed form provided by the institute was a bit... ummm... tacky, and extremely difficult to fill out. I copied the list of stations from that web form into "ps1 list.txt", read it using the Java application and present a UI for students to generate a list of their preference. The output is "PSPReferece.txt" which contains the students preference in a format which makes it easier for them to fill it out on the default institute provided form.<br/><br/></p>
	</article>
</section>